.main_div{
    width: 100%;
    height: 100%;
    display:flex;
    background-color: aquamarine;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  



   
}
body{
    background-color: aquamarine;
}
.center_div{
    margin-top: 100px;
    width: 25%;
    height:80vh;
    background-color: #4f4f4f;

    box-shadow: 5px 5px 25px -5px rgb(114, 160, 29);
    border-radius: 20px;
    margin-right: 150px;


}
h1{
    color:white;
    text-align: center;
    background-color: magenta;
}
 .inpt{
     margin-left: 30px;
     color:white;
    text-align: center;
    height: 30px;
    top:10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    border-bottom: 2px solid burlywood;
    outline: none;
}
.button1{
    height: 40px;
    width:40px;
    border-radius: 50%;
    border-color: transparent;
    background-color: cornflowerblue;
    color: white;
    font-size: 35px;
    border: none;
    outline: none;
    margin-left: 30px;
    margin-top: 10px;
    box-shadow: 5px 5px 25px -5px rgb(0, 0, 0.3);

} 
button:hover{
    background-color: green;
}
ol{
    margin-top: 30px;
}
ol li{
    padding-left: 0;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: white;
    max-width: 300px;
  
text-transform: capitalize;
}
@media(max-width:1150px){
    .center_div{
     
        margin-left: 70px;
    }
    .button1{
        margin-left: 5px;
        min-height: 40px;
        width: 40px;
        color: white;
        font-size: 30px;
    }
}
@media(max-width:850px){
    .center_div{
    max-width: 200px;
       
    }
    .inpt{
        width: 50%;
    }
    .button1{
     
      
        margin-left: 5px;
        min-height: 40px;
        width: 40px;
        color: white;
        font-size: 30px;
    
    }
}
@media(max-width:704px){
    .button1{
     
        margin-left: 10px;
        min-height: 10px;
        width: 30px;
        color: white;
        font-size: 30px;
       
    
    } 
   .inpt{
    font-size: 15px;
   }
    .center_div{
        width: 646px;
    }
    .inpt{
        margin-left: 10px;
    }  
    h1{
        color:white;
        text-align: center;
        background-color: magenta;
        font-size: 15px;
    }

}
@media(max-width:506px){
    .button1{
     
        margin-left: 10px;
        min-height: 5px;
        width: 20px;
        color: white;
        font-size: 20px;
       
    
    }
}
@media(max-width:506px){
    .center_div {
        min-width: 153px;
        margin-left: 170px;
    } 

}


