.container{
    width: 25%;
    height:80vh;
    background-color: #4f4f4f;
    box-shadow: 5px 5px 25px -5px rgb(114, 160, 29);
    border-radius: 15px;
    margin-right: 150px;
    margin-top: 100px;

}
h1{
    color:white;
    text-align: center;
    background-color: magenta;
}

@media(max-width:700px){
    .container{
   width: 646px;
      margin-left: -132px;

    }
   
}
@media(max-width:506px){
    .container{
        min-width: 150px;
       
    }
}
